# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/

# =========================
# Streamlit
# =========================
.streamlit/
streamlit.log
*.log

# =========================
# Environment / Secrets
# =========================
.env
.env.*
.mtr03_url

# =========================
# Build / Cache
# =========================
build/
dist/
.eggs/
*.egg-info/

# =========================
# OS (Windows)
# =========================
Thumbs.db
Desktop.ini

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.iml

# =========================
# Temporary files
# =========================
*.tmp
*.bak
*.swp
